<h1><%= "#{@board.name} lists" %></h1>


<% @lists.each do |list| %> 
  <h3><%= link_to list.name,  [@board, list] %> | <%="  Due Date:#{list.due_date}  | Details: #{list.details}"%></h3>
<% end %>

<hr />
  
  <%= link_to "Create a New List", new_board_list_path(@board),
 class: "ui blue button" %>